<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
        <h3 class="display-5 fw-bold">RAMs</h3>
        <p>Usted puede agregar, editar o eliminar registros de RAMS.</p>
        <button (click)="clickAddItem()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal" 
        databackdrop="static" data-keyboard="false">
            Agregar RAM
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">                
                <div class="modal-body">
                    <form [formGroup]="formValue">

                        <div class="row" style="border-bottom: 1px solid #dee2e6;">
                            <div class="col-lg-12 box_input">
                                <div class="form-gorup">
                                    <h3 class="modal-title" style="text-align: center; display: block; padding: 0.75rem;">{{ ModalTitle }}</h3>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-lg-12 box_input">
                                <div class="form-gorup">
                                    <br>
                                    <label for="type">Tipo:</label>
                                    <input type="text" id="type" class="form-control" formControlName="type" autocomplete="off">
                                    <span *ngIf="type && type.invalid && type.touched" class="error">Este campo es requerido</span>
                                    <span *ngIf="type && type.valid" class="success">El campo es correcto</span>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-lg-12 box_input">
                                <div class="form-gorup">
                                    <br>
                                    <label for="size">Tamaño:</label>
                                    <input type="text" id="size" class="form-control" formControlName="size" autocomplete="off">
                                    <span *ngIf="size && size.invalid && size.touched" class="error">Este campo es requerido</span>
                                    <span *ngIf="size && size.valid" class="success">El campo es correcto</span>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-lg-12 box_input">
                                <div class="form-gorup">
                                    <br>
                                    <label for="velocity">Velocidad:</label>
                                    <input type="text" id="velocity" class="form-control" formControlName="velocity" autocomplete="off">
                                    <span *ngIf="velocity && velocity.invalid && velocity.touched && velocity" class="error">Este campo es requerido</span>
                                    <span *ngIf="velocity && velocity.valid" class="success">El campo es correcto</span>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-lg-12 box_input">
                                <div class="form-gorup">
                                    <br>
                                    <label for="serial_Number">Número de Serie:</label>
                                    <input type="text" id="serial_Number" class="form-control" formControlName="serial_Number" autocomplete="off">
                                    <span *ngIf="serial_Number && serial_Number.invalid && serial_Number.touched" class="error">Este campo es requerido</span>
                                    <span *ngIf="serial_Number && serial_Number.valid" class="success">El campo es correcto</span>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-lg-12 box_input">
                                <div class="form-gorup">
                                    <br>
                                    <label for="origen">Origen:</label>
                                    <input type="text" id="origen" class="form-control" formControlName="origen" autocomplete="off">   
                                    <span *ngIf="origen && origen.invalid && origen.touched" class="error">Este campo es requerido</span>
                                    <span *ngIf="origen && origen.valid" class="success">El campo es correcto</span>                                 
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px;">
                            <div class="col-lg-12">
                                <div class="form-gorup">                                    
                                    <div class="modal-footer">
                                        <button type="button" id="clear" class="btn btn-secondary btn-block" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                        <button *ngIf="showAdd" type="submit" class="btn btn-primary btn-block" (click)="addItem()" [disabled]="!formValue.valid">Guardar</button>                                        
                                        <button *ngIf="showEdit" class="btn btn-success btn-block" (click)="updateItem()" [disabled]="!formValue.valid">Actualizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>                
            </div>
        </div>
    </div>
   
    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-bordeless table-responsive-sm mt-4">
            <thead>
                <tr class="text-left">
                    <th>
                        <div class="d-flex flex-row mb-3">
                            <input [(ngModel)]="RAMTypeFilter"
                            (keyup)="FilterFn()" placeholder="Filtrar">
                            <button type="button" class="btn btn-light btn-sm"
                            (click)="sortResult('type', true)">
                                <span class="fas fa-arrow-up"></span>
                            </button>
                            <button type="button" class="btn btn-light btn-sm"
                            (click)="sortResult('type', false)">
                                <span class="fas fa-arrow-down"></span>
                            </button>
                        </div>
                        Tipo
                    </th>
                    <th>
                        <div class="d-flex flex-row mb-3">
                            <input [(ngModel)]="RAMSizeFilter"
                            (keyup)="FilterFn()" placeholder="Filtrar">
                            <button type="button" class="btn btn-light btn-sm"
                            (click)="sortResult('size', true)">
                                <span class="fas fa-arrow-up"></span>
                            </button>
                            <button type="button" class="btn btn-light btn-sm"
                            (click)="sortResult('size', false)">
                                <span class="fas fa-arrow-down"></span>
                            </button>
                        </div>
                        Tamaño
                    </th>
                    <th>
                        <div class="d-flex flex-row mb-3">
                            <input [(ngModel)]="RAMVelocityFilter"
                            (keyup)="FilterFn()" placeholder="Filtrar">
                            <button type="button" class="btn btn-light btn-sm"
                            (click)="sortResult('velocity', true)">
                                <span class="fas fa-arrow-up"></span>
                            </button>
                            <button type="button" class="btn btn-light btn-sm"
                            (click)="sortResult('velocity', false)">
                                <span class="fas fa-arrow-down"></span>
                            </button>
                        </div>
                        Velocidad
                    </th>
                    <th>
                        <div class="d-flex flex-row mb-3">
                            <input [(ngModel)]="RAMSerialNumberFilter"
                            (keyup)="FilterFn()" placeholder="Filtrar">
                            <button type="button" class="btn btn-light btn-sm"
                            (click)="sortResult('serial_Number', true)">
                                <span class="fas fa-arrow-up"></span>
                            </button>
                            <button type="button" class="btn btn-light btn-sm"
                            (click)="sortResult('serial_Number', false)">
                                <span class="fas fa-arrow-down"></span>
                            </button>
                        </div>
                        # Serie
                    </th>                    
                    <th>
                        <div class="d-flex flex-row mb-3">
                            <input [(ngModel)]="RAMOrigenFilter"
                            (keyup)="FilterFn()" placeholder="Filtrar">
                            <button type="button" class="btn btn-light btn-sm"
                            (click)="sortResult('origen', true)">
                                <span class="fas fa-arrow-up"></span>
                            </button>
                            <button type="button" class="btn btn-light btn-sm"
                            (click)="sortResult('origen', false)">
                                <span class="fas fa-arrow-down"></span>
                            </button>
                        </div>
                        Origen
                    </th>                                        
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemList" class="text-left">                   
                    <td>{{ item.type }}</td>
                    <td>{{ item.size }}</td>                    
                    <td>{{ item.velocity }} MHz</td>
                    <td>{{ item.serial_Number }}</td>                    
                    <td>{{ item.origen }}</td>
                    <td>
                        <div class="areaButton">
                            <button      
                                (click)="editItem(item.id)"                           
                                type="button" 
                                class="btn btn-sm btn-primary" 
                                data-bs-toggle="modal" data-bs-target="#Modal" 
                                databackdrop="static" data-keyboard="false"
                            >
                                <span class="fas fa-edit"></span>
                            </button>
                            <button 
                                class="btn btn-sm btn-danger" 
                                (click)="deleteItem(item)"                                
                            >
                                <span class="fas fa-trash"></span>
                            </button>
                        </div>                        
                    </td>            
                </tr>
            </tbody>
        </table>
    </div>        
</div>